image:
  repository: ghcr.io/OWNER/petclinic
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 8080
  nodePort: 30080

ingress:
  enabled: false
  host: petclinic.local

resources: {}
